<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="col-md-6" ng-controller='ToBuyController as toBuy'>
   <h2>To Buy:</h2>
   <ul>
     <li ng-repeat="item in toBuy.lstToBuy">Buy {{item.quantity}} {{item.name}} <button ng-click='toBuy.placeToBought(item.name, item.quantity, $index)'>Bought</button></li>
   </ul>
   <div class="emptyMessage" ng-if='toBuy.lstToBuy.length == 0'>Everything is bought!</div>
  </div>
    <div class="col-md-6" ng-controller='AlreadyBoughtController as bought'>
     <h2>Already Bought:</h2>
     <ul>
        <li ng-repeat="item in bought.lstBought">Bought {{item.quantity}} {{item.name}}. </li>
     </ul>
     <div class="emptyMessage" ng-if='bought.lstBought.length == 0'>Nothing bought yet.</div>
    </div>
</div>
       <script src="angular.min.js"></script>
       <script src="app.js"></script>
  </body>
</html>
