<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as narrow">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text"  ng-model='narrow.searchTerm'>
    </div>
    <div class="form-group narrow-button">
      <button  ng-click="narrow.matchedMenuItems(narrow.searchTerm)">Narrow It Down For Me!</button>
    </div>
    <found-items found-items="narrow.found" on-remove="narrow.removeMenuItem(index)" on-empty="narrow.message"></found-items>
  </div>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
